.review-item {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding: 8px;
  margin-top: 21px;
  width: 571px;
  display: flex;
}
.review-item img {
  width: 91px;
}

.review-item-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
